*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
main{
    background-color: antiquewhite;
}

#head{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 65px;
    border: 1px solid black;
    color: black;
    background-color: antiquewhite;

    .fi{
        font-size: 40px;
    }

    .si{
        margin-top: 1%;
        ul{
            display: flex;
            justify-content: space-between;
            text-align: center;
            flex-wrap: wrap;
            font-size: 20px;
            gap: 30px;
            list-style: none;
           
            a{
                text-decoration: none;
    
            }
            a:hover{
                border-bottom: red;
            }
          }
        }

        .ti{
            margin-top: 1%;
            font-size: 30px;
        
            button{
                border-radius: 50px;
                font-size: 20px;
                padding: 2%;
                color: black;
                background-color: white;
            }
            button:hover{
                color: white;
                background-color: red;
            }
                
            
        }
}

// header ends here 
// main starts fron here 
#front{
    width: 100%;
}
#sec1{
    height: 100vh;

    .im{
        border: 1px solid black;
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url(img/home.jpg);
        background-size: 100% 100vh;
        background-repeat: no-repeat;
        background-position: 100%;
    }
    .mi{
        position: absolute;
        top: 140px;
        left: 40px;
        font-size: 50px;
        color: white;

        button{
            width: 30vh;
            height: 5vh;
            border-radius: 60px;
            background-color: white;
            color: black;
        }
        button:hover{
            background-color: red;
            color: white;
        }

    }
}

// sec1 ends here 
// sec2 starts here 

#sec2{
    height: 100vh;
    width: 100%;

    .ter{
        margin-left: 35px;
        font-size: 25px;

        p{
            font-size: 60px;
        }

        a{
            text-decoration: none;
            color: black;
        }

        a:hover{
            border-bottom: 2px solid red;
        }
    }
}
#thr{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

    .t1{
        width: 400px;
        height: 550px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/ws.jpg);
        background-size: contain;
        background-repeat: no-repeat;
       

        button{
            position: relative;
            top: 450px;
            left: 22px;
            font-size: 20px;
            width: 20vh;
            height: 5vh;
            border-radius: 40px;
        }

        .se1{
            background-color: white;
        }
        .se1:hover{
            background-color: red;
            color: white;
        }

        .se2{
            background-color: red;
            color: white;
        }
        .se2:hover{
            background-color: white;
            color: black;
        }
    }
    .t2{
        width: 400px;
        height: 550px;
        border: 1px solid black;
        border-radius: 30px;
       background: url(img/ref.jpg);
       background-size: contain;
       background-repeat: no-repeat;
      

        button{
            position: relative;
            top: 450px;
            left: 22px;
            font-size: 20px;
            width: 20vh;
            height: 5vh;
            border-radius: 40px;
        }

        .se1{
            background-color: white;
        }
        .se1:hover{
            background-color: red;
            color: white;
        }

        .se2{
            background-color: red;
            color: white;
        }
        .se2:hover{
            background-color: white;
            color: black;
        }
    }
    .t3{
        width: 400px;
        height: 550px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/wat.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        
     

        button{
            position: relative;
            top: 450px;
            left: 22px;
            font-size: 20px;
            width: 20vh;
            height: 5vh;
            border-radius: 40px;
        }

        .se1{
            background-color: white;
        }
        .se1:hover{
            background-color: red;
            color: white;
        }

        .se2{
            background-color: red;
            color: white;
        }
        .se2:hover{
            background-color: white;
            color: black;
        }
    }
}

    // <!-- section2 ends here  -->
    // <!-- section3 starts here  -->

#sec3{
    width: 100%;
    height: 70vh;
}

#qwert{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

    .qw1{
        width: 400px;
        height: 500px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/wed.jpg);
        background-size: contain;

        button{
            position: relative;
            top: 400px;
            left: 110px;
            font-size: 20px;
            width: 18vh;
            height: 5vh;
            border-radius: 50px;
            background-color: white;
            color: black;
        }

        button:hover{
            color: white;
            background-color: red;
        }

    }
    .qw2{
        width: 400px;
        height: 500px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/Best-care-Mobile-banner-tenplate.jpg);
        background-size: cover;

        button{
            position: relative;
            top: 400px;
            left: 110px;
            font-size: 20px;
            width: 18vh;
            height: 5vh;
            border-radius: 50px;
            background-color: white;
            color: black;
        }

        button:hover{
            color: white;
            background-color: red;
        }
    }
    .qw3{
        width: 400px;
        height: 500px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/frid.jpg);
        background-size: contain;

        button{
            position: relative;
            top: 400px;
            left: 110px;
            font-size: 20px;
            width: 18vh;
            height: 5vh;
            border-radius: 50px;
            background-color: white;
            color: black;
        }

        button:hover{
            color: white;
            background-color: red;
        }
    }
}

// section3 ends here 
// section4 starts here 

#sec4{
    width: 100%;
    height: 90vh;

    .up{
        margin-left: 35px;
        font-size: 25px;

        p{
            font-size: 60px;
        }

        a{
            text-decoration: none;
            color: black;
        }

        a:hover{
            border-bottom: 2px solid red;
        }
    }

    #down{
        width: 95%;
        height: 65vh;
        margin-left: 2%;
        border: 1px solid black;
        border-radius: 50px;
        position: absolute;
        display: flex;

        .do1{
            width: 40%;
            height: 65vh;
            margin-left: 30px;
            margin-top: 30px;
            font-size: 20px;
          


            button{
                font-size: 20px;
                width: 18vh;
                height: 5vh;
                border-radius: 50px;
                background-color: white;
                color: black;
            }
            button:hover{
                color: white;
                background-color: red;
            }
        }
    }
}

// section4 ends here 
// section5 starts here 


#sec5{
    width: 100%;
    height: 100vh;
}

#first{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .as1{
        width: 470px;
        height: 330px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/wash.jpg);
        background-size: cover;

        
    }
    
    .as2{
        width: 470px;
        height: 330px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/wash2.jpg);
        background-size: cover;
    }
    
    .as3{
        width: 470px;
        height: 330px;
        border: 1px solid black;
        border-radius: 30px;
        background-image: url(img/wash3.jpg);
        background-size: contain;
    }
}

#second{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .s1{
        width: 470px;
        height: 330px;

        button{
            font-size: 20px;
            width: 18vh;
            height: 5vh;
            border-radius: 50px;
            background-color: white;
            color: black;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }
    
    .s2{
        width: 470px;
        height: 330px;

        button{
            font-size: 20px;
            width: 18vh;
            height: 5vh;
            border-radius: 50px;
            background-color: white;
            color: black;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }
    
    .s3{
        width: 470px;
        height: 330px;

        button{
            font-size: 20px;
            width: 18vh;
            height: 5vh;
            border-radius: 50px;
            background-color: white;
            color: black;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }
}

// section5 ends here 
// section6 starts from here 

#sec6{
    width: 100%;
    height: 40vh;
    border-bottom: 1px solid black;
}
#mg{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 3%;

    .mg1{
        width: 550px;
        height: 300px;
        border: 1px solid black;
        border-radius: 50px;
        background-image: url(img/home-banner-732-X-411.jpg);
        background-size: contain;
     }

     .mg2{
        font-size: 20px;
        
        button{
            font-size: 20px;
            width: 18vh;
            height: 5vh;
            border-radius: 50px;
            background-color: white;
            color: black;
        }
        button:hover{
            color: white;
            background-color: red;
        }

     }
    }

    // section6 ends here 
    // section7 starts from here 

   #sec7{
    width: 100%;
    height: 55vh;
    border-bottom: 1px solid black;
   } 

   #zac{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .zac1{
        margin-left: 2%;
        font-size: 20px;
    }

    .zac2{
        margin-right: 2%;

      button{
        width: 120px;
        height: 45px;
        font-size: 20px;
        border-radius: 80px;
      }  

      .zc{
        background-color: white;
        color: black;
      }

      .zc:hover{
        background-color: red;
        color: white;
      }

      .za{
        background-color: red;
        color: white;
      }
      .za:hover{
        background-color: white;
        color: black;
      }
       
      
    }

   }

   #dest{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .des1{
        width: 470px;
        height: 290px;
        border: 1px solid black;
        border-radius: 30px;
        color: black;
        background-color: white;

           
        h1{
            margin-left: 2%;
            margin-top: 2%;
            font-size: 30px;
        }
        p{
            margin-left: 2%;
            font-size: 18px;
        }
        
    }
    
    .des2{
        width: 470px;
        height: 290px;
        border: 1px solid black;
        border-radius: 30px;
        color: black;
        background-color: white;

        h1{
            margin-left: 2%;
            margin-top: 2%;
            font-size: 30px;
        }
        p{
            margin-left: 2%;
            font-size: 18px;
        }
    }
    
    .des3{
        width: 470px;
        height: 290px;
        border: 1px solid black;
        border-radius: 30px;
        color: black;
        background-color: white;

        h1{
            margin-left: 2%;
            margin-top: 2%;
            font-size: 30px;
        }
        p{
            margin-left: 2%;
            font-size: 18px;
        }
    }
}

// section7 ends here 
// section8 starts here 

#sec8{
    width: 100%;
    height: 90vh;
    border-bottom: 1px solid black;
}
#mon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .mo1{
        font-size: 25px;
        margin-left: 2%;
    }

    .mo2{
        margin-right: 3%;
        

        button{
            width: 200px;
            height: 60px;
            font-size: 25px;
            border-radius: 80px;
            padding: 5%;
            color: black;
            background-color: white;
          }  
          button:hover{
            background-color: red;
            color: white;
          }
    
    }


}

#alpha{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .al1{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
        font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
        color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }

        
    }

    .al2{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
         font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
         color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }

    .al3{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
         font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
         color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }

    .al4{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
         font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
         color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }
}


#balp{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .ba1{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
         font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
         color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }

    .ba2{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
         font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
         color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }

    .ba3{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
         font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
         color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }

    .ba4{
        width: 330px;
        height: 280px;
        border: 1px solid black;
        border-radius: 30px;
         font-size: 20px;
        padding-left: 2%;
        padding-top: 0%;
         color: black;
        background-color: white;

        i{
            font-size: 50px;
        }
        button{
            padding: 2%;
            border-radius: 100%;
        }
        button:hover{
            color: white;
            background-color: red;
        }
    }
}

#back{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .ba{
        margin-top: 1%;
    }

    .bk{
        font-size: 20px;
        margin-right: 5%;
        margin-top: 1%;

        a{
            color: black;
        }

    }
}

#kack{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid black;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .ck{
        font-size: 20px;
        margin-right: 4%;
        

        a{
            color: black;
        }

    }
}

// section ends here 
// footer starts here 

footer{
    background-color: antiquewhite;
}
#end{
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid black;
}
#ends{
    display: flex;
    justify-content: space-around;

    .en1{
        a{
            text-decoration: none;
            color: black;
        }

        a:hover{
            border-bottom: 2px solid black;
        }
    }
}

// media query starts from here 

@media (min-width:350px) and (max-width:750px){


    #head{
        .fi{
            font-size: 55px;
            color: rgba(202, 24, 8, 0.974);
        }
        ul{
            display: none;
        }
    }
#sec1{
    height: 70vh;

    .im{
        height: 70vh;
    }
    .mi{
        font-size: 20px;
    }
}
#sec2{
    height: 160vh;

    .ter{
        font-size: 15px;
    }
    #thr{
        height: 80vh;
        gap: 20px;

        .t1{
            width: 40vh;
            height: 40vh;

            .se1{
                width: 100px;
                font-size: 15px;
                position: relative;
                top: 250px;
                left: 30px;
            }
            .se2{
                width: 100px;
                font-size: 15px;
                position: relative;
                top: 250px;
                left: 30px;
            }
        }
        .t2{
            width: 40vh;
            height: 40vh;

            .se1{
                width: 100px;
                font-size: 15px;
                position: relative;
                top: 250px;
                left: 30px;
            }
            .se2{
                width: 100px;
                font-size: 15px;
                position: relative;
                top: 250px;
                left: 30px;
            }
        }
        .t3{
            width: 40vh;
            height: 40vh;

            .se1{
                width: 100px;
                font-size: 15px;
                position: relative;
                top: 250px;
                left: 30px;
            }
            .se2{
                width: 100px;
                font-size: 15px;
                position: relative;
                top: 250px;
                left: 30px;
            }
        }

    }
}
#sec3{
    height: 130vh;
}
#qwert{
    gap: 20px;
    .qw1{
        width: 40vh;
        height: 40vh;

        button{
            position: relative;
            top: 240px;
            left: 80px;
        }
    }
    .qw2{
        width: 40vh;
        height: 40vh;

        button{
            position: relative;
            top: 240px;
            left: 80px;
        }
    }
    .qw3{
        width: 40vh;
        height: 40vh;

        button{
            position: relative;
            top: 240px;
            left: 80px;
        }
    }
}
#sec4{
    height: 100vh;

    .up{
        font-size: 14px;
        p{
            font-size: 35px;
        }
    }
}
#down{

    .do1{
        font-size: 35px;
    }
    .mac{
        position: relative;
        bottom: 130px;
        font-size: 15px;
    }
}
#top{
    height: 220vh;
}
#first{
    gap: 220px;
    .as1{
        width: 40vh;
        height: 40vh;
        
    }
    .as2{
        width: 40vh;
        height: 40vh;
    }
    .as3{
        width: 40vh;
        height: 40vh;
    }
}

#second{
    font-size: 15px;
    margin-left: 20%;
    line-height: 20px;

    .s1{
        position: relative;
        bottom: 1060px;
    }

    .s2{
        position: relative;
        bottom: 880px;
    }

    .s3{
        position: relative;
        bottom: 680px;
    }

}
#sec6{
    height: 90vh;
}
#mg{
    .mg1{
        width: 58vh;
        height: 38vh;
    }

    .mg2{
        font-size: 20px;
    }
}
#sec7{
    height: 170vh;
}
#zac{
    gap: 15px;
    .zac1{
        font-size: 18px;
    }
}
#dest{
    gap: 25px;
    .des1{
        width: 40vh;
        height: 40vh;
    }
    .des2{
        width: 40vh;
        height: 40vh;
    }
    .des3{
        width: 40vh;
        height: 40vh;
    }
}
#sec8{
    height: 185vh;
}
#mon{
    display: block;
    .mo1{
        font-size: 20px;
       
    }
     .mo2{
       button{
        padding: 1%;
        margin-bottom: 1%;
       }
     }
}
#alpha{
    font-size: 15px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;

    .al1{
        width: 30vh;
        height: 35vh;
    }
    .al2{
        width: 30vh;
        height: 35vh;
    }
    .al3{
        width: 30vh;
        height: 35vh;
    }
    .al4{
        width: 30vh;
        height: 35vh;
    }
}
#balp{
    font-size: 15px;
    gap: 8px;
    display: grid;
    grid-template-columns: auto auto;

    .ba1{
        width: 30vh;
        height: 40vh;
    }
    .ba2{
        width: 30vh;
        height: 40vh;
    }
    .ba3{
        width: 30vh;
        height: 35vh;
    }
    .ba4{
        width: 30vh;
        height: 35vh;
    }
}
#back{
    font-size: 12px;
    height: 15vh;

    .bk{
        margin-left: 43%;
    }
}
#kack{
    font-size: 12px;
    height: 20vh;
}
#end{
    width: 100%;
    height: 25vh;
}
#ends{
    .en1{
        margin-left: 1%;
        font-size: 9px;
    }
}





}