* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

main {
  background-color: antiquewhite;
}

#checker {
  display: none;
}

#bars {
  display: none;
}

#head {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 65px;
  border: 1px solid black;
  color: black;
  background-color: antiquewhite;
}
#head .fi {
  font-size: 40px;
}
#head .fi img {
  width: 120px;
  height: 50px;
  padding-top: 10px;
}
#head .si {
  margin-top: 1%;
}
#head .si ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 30px;
  list-style: none;
}
#head .si ul a {
  text-decoration: none;
}
#head .si ul a:hover {
  border-bottom: red;
}
#head .ti {
  margin-top: 1%;
  font-size: 30px;
}
#head .ti button {
  border-radius: 50px;
  font-size: 20px;
  padding: 2%;
  color: black;
  background-color: white;
}
#head .ti button:hover {
  color: white;
  background-color: red;
}

#front {
  width: 100%;
}

#sec1 {
  height: 100vh;
}
#sec1 .im {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(img/home.jpg);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position: 100%;
}
#sec1 .mi {
  position: absolute;
  top: 140px;
  left: 40px;
  font-size: 50px;
  color: white;
}
#sec1 .mi button {
  width: 30vh;
  height: 5vh;
  border-radius: 60px;
  background-color: white;
  color: black;
}
#sec1 .mi button:hover {
  background-color: red;
  color: white;
}

#sec2 {
  height: 100vh;
  width: 100%;
}
#sec2 .ter {
  margin-left: 35px;
  font-size: 25px;
}
#sec2 .ter p {
  font-size: 60px;
}
#sec2 .ter a {
  text-decoration: none;
  color: black;
}
#sec2 .ter a:hover {
  border-bottom: 2px solid red;
}

#thr {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#thr .t1 {
  width: 400px;
  height: 550px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/ws.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#thr .t1 button {
  position: relative;
  top: 450px;
  left: 22px;
  font-size: 20px;
  width: 20vh;
  height: 5vh;
  border-radius: 40px;
}
#thr .t1 .se1 {
  background-color: white;
}
#thr .t1 .se1:hover {
  background-color: red;
  color: white;
}
#thr .t1 .se2 {
  background-color: red;
  color: white;
}
#thr .t1 .se2:hover {
  background-color: white;
  color: black;
}
#thr .t2 {
  width: 400px;
  height: 550px;
  border: 1px solid black;
  border-radius: 30px;
  background: url(img/ref.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#thr .t2 button {
  position: relative;
  top: 450px;
  left: 22px;
  font-size: 20px;
  width: 20vh;
  height: 5vh;
  border-radius: 40px;
}
#thr .t2 .se1 {
  background-color: white;
}
#thr .t2 .se1:hover {
  background-color: red;
  color: white;
}
#thr .t2 .se2 {
  background-color: red;
  color: white;
}
#thr .t2 .se2:hover {
  background-color: white;
  color: black;
}
#thr .t3 {
  width: 400px;
  height: 550px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/wat.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#thr .t3 button {
  position: relative;
  top: 450px;
  left: 22px;
  font-size: 20px;
  width: 20vh;
  height: 5vh;
  border-radius: 40px;
}
#thr .t3 .se1 {
  background-color: white;
}
#thr .t3 .se1:hover {
  background-color: red;
  color: white;
}
#thr .t3 .se2 {
  background-color: red;
  color: white;
}
#thr .t3 .se2:hover {
  background-color: white;
  color: black;
}

#sec3 {
  width: 100%;
  height: 70vh;
}

#qwert {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#qwert .qw1 {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/wed.jpg);
  background-size: contain;
}
#qwert .qw1 button {
  position: relative;
  top: 400px;
  left: 110px;
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#qwert .qw1 button:hover {
  color: white;
  background-color: red;
}
#qwert .qw2 {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/Best-care-Mobile-banner-tenplate.jpg);
  background-size: cover;
}
#qwert .qw2 button {
  position: relative;
  top: 400px;
  left: 110px;
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#qwert .qw2 button:hover {
  color: white;
  background-color: red;
}
#qwert .qw3 {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/frid.jpg);
  background-size: contain;
}
#qwert .qw3 button {
  position: relative;
  top: 400px;
  left: 110px;
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#qwert .qw3 button:hover {
  color: white;
  background-color: red;
}

#sec4 {
  width: 100%;
  height: 90vh;
}
#sec4 .up {
  margin-left: 35px;
  font-size: 25px;
}
#sec4 .up p {
  font-size: 60px;
}
#sec4 .up a {
  text-decoration: none;
  color: black;
}
#sec4 .up a:hover {
  border-bottom: 2px solid red;
}
#sec4 #down {
  background-color: aquamarine;
  width: 95%;
  height: 65vh;
  margin-left: 2%;
  border: 1px solid black;
  border-radius: 50px;
  position: absolute;
  display: flex;
}
#sec4 #down .do1 {
  width: 40%;
  height: 65vh;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 20px;
}
#sec4 #down .do1 button {
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#sec4 #down .do1 button:hover {
  color: white;
  background-color: red;
}

#sec5 {
  width: 100%;
  height: 100vh;
}

#first {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#first .as1 {
  width: 470px;
  height: 330px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/wash.jpg);
  background-size: cover;
}
#first .as2 {
  width: 470px;
  height: 330px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/wash2.jpg);
  background-size: cover;
}
#first .as3 {
  width: 470px;
  height: 330px;
  border: 1px solid black;
  border-radius: 30px;
  background-image: url(img/wash3.jpg);
  background-size: contain;
}

#second {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#second .s1 {
  width: 470px;
  height: 330px;
}
#second .s1 button {
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#second .s1 button:hover {
  color: white;
  background-color: red;
}
#second .s2 {
  width: 470px;
  height: 330px;
}
#second .s2 button {
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#second .s2 button:hover {
  color: white;
  background-color: red;
}
#second .s3 {
  width: 470px;
  height: 330px;
}
#second .s3 button {
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#second .s3 button:hover {
  color: white;
  background-color: red;
}

#sec6 {
  width: 100%;
  height: 40vh;
  border-bottom: 1px solid black;
}

#mg {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 3%;
}
#mg .mg1 {
  width: 550px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50px;
  background-image: url(img/home-banner-732-X-411.jpg);
  background-size: contain;
}
#mg .mg2 {
  font-size: 20px;
}
#mg .mg2 button {
  font-size: 20px;
  width: 18vh;
  height: 5vh;
  border-radius: 50px;
  background-color: white;
  color: black;
}
#mg .mg2 button:hover {
  color: white;
  background-color: red;
}

#sec7 {
  width: 100%;
  height: 55vh;
  border-bottom: 1px solid black;
}

#zac {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#zac .zac1 {
  margin-left: 2%;
  font-size: 20px;
}
#zac .zac2 {
  margin-right: 2%;
}
#zac .zac2 button {
  width: 120px;
  height: 45px;
  font-size: 20px;
  border-radius: 80px;
}
#zac .zac2 .zc {
  background-color: white;
  color: black;
}
#zac .zac2 .zc:hover {
  background-color: red;
  color: white;
}
#zac .zac2 .za {
  background-color: red;
  color: white;
}
#zac .zac2 .za:hover {
  background-color: white;
  color: black;
}

#dest {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#dest .des1 {
  width: 470px;
  height: 290px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
}
#dest .des1 h1 {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 30px;
}
#dest .des1 p {
  margin-left: 2%;
  font-size: 18px;
}
#dest .des2 {
  width: 470px;
  height: 290px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
}
#dest .des2 h1 {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 30px;
}
#dest .des2 p {
  margin-left: 2%;
  font-size: 18px;
}
#dest .des3 {
  width: 470px;
  height: 290px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
}
#dest .des3 h1 {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 30px;
}
#dest .des3 p {
  margin-left: 2%;
  font-size: 18px;
}

#sec8 {
  width: 100%;
  height: 90vh;
  border-bottom: 1px solid black;
}

#mon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#mon .mo1 {
  font-size: 25px;
  margin-left: 2%;
}
#mon .mo2 {
  margin-right: 3%;
}
#mon .mo2 button {
  width: 200px;
  height: 60px;
  font-size: 25px;
  border-radius: 80px;
  padding: 5%;
  color: black;
  background-color: white;
}
#mon .mo2 button:hover {
  background-color: red;
  color: white;
}

#alpha {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#alpha .al1 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#alpha .al1 i {
  font-size: 50px;
}
#alpha .al1 button {
  padding: 2%;
  border-radius: 100%;
}
#alpha .al1 button:hover {
  color: white;
  background-color: red;
}
#alpha .al2 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#alpha .al2 i {
  font-size: 50px;
}
#alpha .al2 button {
  padding: 2%;
  border-radius: 100%;
}
#alpha .al2 button:hover {
  color: white;
  background-color: red;
}
#alpha .al3 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#alpha .al3 i {
  font-size: 50px;
}
#alpha .al3 button {
  padding: 2%;
  border-radius: 100%;
}
#alpha .al3 button:hover {
  color: white;
  background-color: red;
}
#alpha .al4 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#alpha .al4 i {
  font-size: 50px;
}
#alpha .al4 button {
  padding: 2%;
  border-radius: 100%;
}
#alpha .al4 button:hover {
  color: white;
  background-color: red;
}

#balp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#balp .ba1 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#balp .ba1 i {
  font-size: 50px;
}
#balp .ba1 button {
  padding: 2%;
  border-radius: 100%;
}
#balp .ba1 button:hover {
  color: white;
  background-color: red;
}
#balp .ba2 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#balp .ba2 i {
  font-size: 50px;
}
#balp .ba2 button {
  padding: 2%;
  border-radius: 100%;
}
#balp .ba2 button:hover {
  color: white;
  background-color: red;
}
#balp .ba3 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#balp .ba3 i {
  font-size: 50px;
}
#balp .ba3 button {
  padding: 2%;
  border-radius: 100%;
}
#balp .ba3 button:hover {
  color: white;
  background-color: red;
}
#balp .ba4 {
  width: 330px;
  height: 280px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 2%;
  padding-top: 0%;
  color: black;
  background-color: aquamarine;
}
#balp .ba4 i {
  font-size: 50px;
}
#balp .ba4 button {
  padding: 2%;
  border-radius: 100%;
}
#balp .ba4 button:hover {
  color: white;
  background-color: red;
}

#back {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#back .ba {
  margin-top: 1%;
}
#back .bk {
  font-size: 20px;
  margin-right: 5%;
  margin-top: 1%;
}
#back .bk a {
  color: black;
}

#kack {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid black;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#kack .ck {
  font-size: 20px;
  margin-right: 4%;
}
#kack .ck a {
  color: black;
}

footer {
  background-color: antiquewhite;
}

#end {
  width: 100%;
  height: 30vh;
  border-bottom: 1px solid black;
}

#ends {
  display: flex;
  justify-content: space-around;
}
#ends .en1 a {
  text-decoration: none;
  color: black;
}
#ends .en1 a:hover {
  border-bottom: 2px solid black;
}

@media (min-width: 350px) and (max-width: 750px) {
  #bars {
    display: block;
    left: 10%;
    color: rgba(202, 24, 8, 0.974);
    line-height: 80px;
    font-size: 35px;
    z-index: 12;
  }
  #head .fi {
    font-size: 55px;
    color: rgba(202, 24, 8, 0.974);
  }
  #head ul {
    display: none;
  }
  #sec1 {
    height: 70vh;
  }
  #sec1 .im {
    height: 70vh;
  }
  #sec1 .mi {
    font-size: 20px;
  }
  #sec2 {
    height: 160vh;
  }
  #sec2 .ter {
    font-size: 15px;
  }
  #sec2 #thr {
    height: 80vh;
    gap: 20px;
  }
  #sec2 #thr .t1 {
    width: 40vh;
    height: 40vh;
  }
  #sec2 #thr .t1 .se1 {
    width: 100px;
    font-size: 15px;
    position: relative;
    top: 250px;
    left: 30px;
  }
  #sec2 #thr .t1 .se2 {
    width: 100px;
    font-size: 15px;
    position: relative;
    top: 250px;
    left: 30px;
  }
  #sec2 #thr .t2 {
    width: 40vh;
    height: 40vh;
  }
  #sec2 #thr .t2 .se1 {
    width: 100px;
    font-size: 15px;
    position: relative;
    top: 250px;
    left: 30px;
  }
  #sec2 #thr .t2 .se2 {
    width: 100px;
    font-size: 15px;
    position: relative;
    top: 250px;
    left: 30px;
  }
  #sec2 #thr .t3 {
    width: 40vh;
    height: 40vh;
  }
  #sec2 #thr .t3 .se1 {
    width: 100px;
    font-size: 15px;
    position: relative;
    top: 250px;
    left: 30px;
  }
  #sec2 #thr .t3 .se2 {
    width: 100px;
    font-size: 15px;
    position: relative;
    top: 250px;
    left: 30px;
  }
  #sec3 {
    height: 130vh;
  }
  #qwert {
    gap: 20px;
  }
  #qwert .qw1 {
    width: 40vh;
    height: 40vh;
  }
  #qwert .qw1 button {
    position: relative;
    top: 240px;
    left: 80px;
  }
  #qwert .qw2 {
    width: 40vh;
    height: 40vh;
  }
  #qwert .qw2 button {
    position: relative;
    top: 240px;
    left: 80px;
  }
  #qwert .qw3 {
    width: 40vh;
    height: 40vh;
  }
  #qwert .qw3 button {
    position: relative;
    top: 240px;
    left: 80px;
  }
  #sec4 {
    height: 100vh;
  }
  #sec4 .up {
    font-size: 14px;
  }
  #sec4 .up p {
    font-size: 35px;
  }
  #down .do1 {
    font-size: 35px;
  }
  #down .mac {
    position: relative;
    bottom: 130px;
    font-size: 15px;
  }
  #top {
    height: 220vh;
  }
  #first {
    gap: 220px;
  }
  #first .as1 {
    width: 40vh;
    height: 40vh;
  }
  #first .as2 {
    width: 40vh;
    height: 40vh;
  }
  #first .as3 {
    width: 40vh;
    height: 40vh;
  }
  #second {
    font-size: 15px;
    margin-left: 20%;
    line-height: 20px;
  }
  #second .s1 {
    position: relative;
    bottom: 1060px;
  }
  #second .s2 {
    position: relative;
    bottom: 880px;
  }
  #second .s3 {
    position: relative;
    bottom: 680px;
  }
  #sec6 {
    height: 90vh;
  }
  #mg .mg1 {
    width: 58vh;
    height: 38vh;
  }
  #mg .mg2 {
    font-size: 20px;
  }
  #sec7 {
    height: 170vh;
  }
  #zac {
    gap: 15px;
  }
  #zac .zac1 {
    font-size: 18px;
  }
  #dest {
    gap: 25px;
  }
  #dest .des1 {
    width: 40vh;
    height: 40vh;
  }
  #dest .des2 {
    width: 40vh;
    height: 40vh;
  }
  #dest .des3 {
    width: 40vh;
    height: 40vh;
  }
  #sec8 {
    height: 185vh;
  }
  #mon {
    display: block;
  }
  #mon .mo1 {
    font-size: 20px;
  }
  #mon .mo2 button {
    padding: 1%;
    margin-bottom: 1%;
  }
  #alpha {
    font-size: 15px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
  }
  #alpha .al1 {
    width: 30vh;
    height: 35vh;
  }
  #alpha .al2 {
    width: 30vh;
    height: 35vh;
  }
  #alpha .al3 {
    width: 30vh;
    height: 35vh;
  }
  #alpha .al4 {
    width: 30vh;
    height: 35vh;
  }
  #balp {
    font-size: 15px;
    gap: 8px;
    display: grid;
    grid-template-columns: auto auto;
  }
  #balp .ba1 {
    width: 30vh;
    height: 40vh;
  }
  #balp .ba2 {
    width: 30vh;
    height: 40vh;
  }
  #balp .ba3 {
    width: 30vh;
    height: 35vh;
  }
  #balp .ba4 {
    width: 30vh;
    height: 35vh;
  }
  #back {
    font-size: 12px;
    height: 15vh;
  }
  #back .bk {
    margin-left: 43%;
  }
  #kack {
    font-size: 12px;
    height: 20vh;
  }
  #end {
    width: 100%;
    height: 25vh;
  }
  #ends .en1 {
    margin-left: 1%;
    font-size: 9px;
  }
}/*# sourceMappingURL=style.css.map */